<!DOCTYPE html>
<html>
  
  <head>
    <title>Grand Software</title>
  </head>

  
  <body>
    
    <style>
      h3 {
        margin-top: 40px;
  margin-bottom: 10px;
      }
    </style>
    

    
    <form>
  <label for="fname">Slip No.</label><br>
<input type="number" id="slip" name="slip">
  <label for="lname">Vehicle No.</label>
  <input type="text" id="lname" name="lname" value="">
    </form>
    
    
    <h3>Vehicle Type</h3>
    <select name="vehicles" id="vehicles" style="width: 150px;">
    <option value="4 wheeler">4 wheeler</option>
    <option value="6 wheeler">6 wheeler</option>
    <option value="Truck">Truck</option>
    <option value="Suzuki">Suzuki</option>
  </select>
    
  </body
</html>